/* line 12, main.scss */

body {
  font-family: "Helvevtica", sans-serif;
}

/* line 16, main.scss */

body .container .panel {
  float: left;
  margin: 20px;
  width: 400px;
  border: solid #7f7f7f 1px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 12, _mixin.scss */

body .container .panel:hover {
  box-shadow: #428bca 5px 5px 20px;
}

/* line 14, _mixin.scss */

body .container .panel:hover .header {
  background-color: #64adec;
}

/* line 19, _mixin.scss */

body .container .panel .header {
  background-color: whitesmoke;
  padding: 10px;
  background-color: #428bca;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 28, _mixin.scss */

body .container .panel .body {
  background-color: whitesmoke;
  padding: 10px;
  min-height: 200px;
}

/* line 31, _mixin.scss */

body .container .panel .body ul {
  padding-left: 0px;
}

/* line 33, _mixin.scss */

body .container .panel .body ul li {
  list-style: none;
}

/* line 35, _mixin.scss */

body .container .panel .body ul li:before {
  content: "\21DD  ";
}

/* line 38, _mixin.scss */

body .container .panel .body ul li.important,
body .container .panel .body ul li.very-important,
body .container .panel.urgent .body ul li.very-important {
  color: red;
}

/* line 41, _mixin.scss */

body .container .panel .body ul li.very-important {
  font-weight: bold;
}

/* line 50, _mixin.scss */

body .container .panel .footer {
  background-color: whitesmoke;
  padding: 10px;
  border-top: solid #7f7f7f 1px;
  font-size: smaller;
  text-align: right;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 20, main.scss */

body .container .panel.urgent {
  float: left;
  margin: 20px;
  width: 400px;
  border: solid #7f7f7f 1px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 12, _mixin.scss */

body .container .panel.urgent:hover {
  box-shadow: red 5px 5px 20px;
}

/* line 14, _mixin.scss */

body .container .panel.urgent:hover .header {
  background-color: #64adec;
}

/* line 19, _mixin.scss */

body .container .panel.urgent .header {
  background-color: whitesmoke;
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 28, _mixin.scss */

body .container .panel.urgent .body {
  background-color: whitesmoke;
  padding: 10px;
  min-height: 200px;
}

/* line 31, _mixin.scss */

body .container .panel.urgent .body ul {
  padding-left: 0px;
}

/* line 33, _mixin.scss */

body .container .panel.urgent .body ul li {
  list-style: none;
}

/* line 35, _mixin.scss */

body .container .panel.urgent .body ul li:before {
  content: "\21DD  ";
}

/* line 38, _mixin.scss */

body .container .panel.urgent .body ul li.important,
body .container .panel.urgent .body ul li.very-important {
  color: red;
}

/* line 41, _mixin.scss */

body .container .panel.urgent .body ul li.very-important {
  font-weight: bold;
}

/* line 50, _mixin.scss */

body .container .panel.urgent .footer {
  background-color: whitesmoke;
  padding: 10px;
  border-top: solid #7f7f7f 1px;
  font-size: smaller;
  text-align: right;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}